body{
    background-color: antiquewhite;
}
.continer{
    width: 25%;
    height: 250px;
    padding: 4%;
    padding-top: 1%;
    margin: 10%;
    margin-left: 35%;
    background-color: darkslategrey;
    border-radius: 30px;
}
input{
    margin: 3px;
    width: 100%;
    height: 10%;
    border-radius: 10px;
}
p{
    font-size: 150%;
}
button{
    border-radius: 20%;
}